In [2]:
import pandas as pd
import wget

In [8]:
# url of the raw csv dataset
urls = [
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
]
for url in urls:
    wget.download(url)

In [10]:
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [12]:
# confirmed_df.head()
# deaths_df.head()
# recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/13/20,7/14/20,7/15/20,7/16/20,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34455,34740,34994,35070,35229,35301,35475,35526,35615,35727
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3571,3667,3752,3851,3906,4008,4090,4171,4290,4358
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,19689,20216,20770,21355,21948,22549,23084,23691,24278,24872
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,858,861,862,877,880,880,880,884,884,889
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,525,541,576,607,638,687,705,749,779,812

In [13]:
dates = confirmed_df.columns[4:]
confirmed_df_long = confirmed_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Confirmed')
deaths_df_long = deaths_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Deaths')
recovered_df_long = recovered_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Recovered')

In [15]:
# Canada recovered data is counted by Country-wise rather than Province/State-wise, so need to remove
recovered_df_long = recovered_df_long[recovered_df_long['Country/Region']!='Canada']

In [16]:
# Merging confirmed_df_long and deaths_df_long
full_table = confirmed_df_long.merge(
  right=deaths_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)# Merging full_table and recovered_df_long
full_table = full_table.merge(
  right=recovered_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [18]:
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [19]:
full_table.isna().sum()

Province/State    33855
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered          3660
dtype: int64